
$primary-clr: #801317;
$secondary-clr: #000000;

$dark-gray-clr: #333333;
$dark-medium-gray-clr: #858585;
$light-gray-clr: #D6D6D6;

$light-blue-clr: #2081E2;
$dark-blue-clr: #183B56;

$white-clr: #ffffff;

$dark-primary-clr: #ad2403;

$extra-light-clr: #6C757D;

$bg-light-clr: #F3F4F6;

$border-clr: #DEE2E6;
