ul {
  list-style: none !important ;
}

.link-text {
  text-decoration: none;
}

.link-text .fourbox h4 {
  color: #6c757d !important;
}

.link-text:hover .fourbox h4 {
  color: #000 !important;
}

.transitionStyle {
  transition: "transform 0.2s ease-in-out";
}

.custom_toaster_error_zindex {
  z-index: 9999;
}
.custom_toaster_error .toast-container {
  z-index: 9999;
}

.custom_toaster_error .toast-container i {
  color: red; /* Change the icon color to red for error */
  padding: 0 8px 0 0;
  font-size: 16px;
}

.custom_toaster_error .toast-container .toast-header {
  padding: 15px 10px;
  background-color: #f8d7da; /* Use a red background color for error */
  color: #721c24; /* Text color for error */
}

.custom_toaster_error .toast-container .toast-header strong {
  font-size: 16px;
}

/* /////////// */
/* Add this CSS to your stylesheet */
.custom-select {
  background-color: #fff;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #000;
  padding: 1rem;
  font-size: 1.1rem;
  cursor: pointer;

  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.custom-select:hover {
  background-color: #007bff; /* Background color for options on hover */
  color: #fff; /* Text color for options on hover */
  cursor: pointer;
}

.text_heading span {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 0 10px;
}

.form-group-padding-bottom {
  padding-bottom: 30px;
}
